# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

# **Objectives:**
List popular languages for Data Science.
* JUPYTER LAB
* APACHE ZAPPLIN
* RSTIDIO
* SPYDER

## Some of the popular languages that Data Scientists use are:
1. PYTHON
2. SCALA
3. R
4. JULIA

### Some of the commonly used libraries used by Data Scientists include:
    1. TensorFlow
    2. Matplotlib
    3. Pandas
    4. Scipy
    5. Keras

#### Data Science Tools
SN| Data Science tools|
--|--------------------|
1 | Jupyter notebook   |
2 | R studio           |
3 | Apache Zapplin     |
4 | Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

# Conversion of minutes into hours

In [7]:
TOTAL_MINUTES = 200
HOURS = TOTAL_MINUTES//60
MINUTES = TOTAL_MINUTES%60
time = "{}:{}".format(HOURS, MINUTES)

print(time)

3:20

## AUTHOR 
PRASANNA SANDE